/* Header Styling */
.site-header {
    background-color: #DA222B;
    color: #ffffff;
}

/* Top Header */
.top-header {
    background-color: #ffffff;
    padding: 10px 3em 10px 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.top-header a {
    color: #3368B8;
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid #3368B8;
}

.top-header a:hover {
    text-decoration: none;
}

.top-nav {
    max-width: 85%;
}

#about-us-link {
    padding-right: 20px;
}

#contact-us-link {
    padding-left: 20px;
    padding-right: 20px;
}

#search-link {
    padding-left: 20px;
    border: none;
    border-right: none;
}

.login-header-button {
    background-color: #3368B8;
    color: #fff !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login-header-button label {
    padding: 0 30px;
    cursor: pointer;
}

/* Bottom Header */
.bottom-nav {
    display: flex;
    flex: 2;
    max-width: 80%;
    text-align: right;
}

.bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.bottom-nav li {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.bottom-nav i {
    font-size: 2em;
    margin-right: 0.5em;
}

.bottom-nav a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.bottom-nav a:hover {
    color: #3368b8 !important;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2em 20px 5em;
}

.logo {
    flex: 1;
    max-width: 20%;
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

/* Logged In Styling */
.logged-in-header {
    padding: 10px 3em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logged-in-logo {
    max-width: 20%;
}

.logged-in-logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

.logged-in-menu {
    display: flex;
    align-items: center;
}

.logged-in-menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

#logged-mobile-menu-icon {
    display: none;
}

.logged-mobile-menu {
    z-index: 999;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #DA222B;
    padding: 10px;
    width: 100%;
    top: 60px;
}

.logged-mobile-menu a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .logged-in-header {
        padding: 0;
        padding-top: 10px;
    }
    
    .logged-in-menu {
        display: none;
    }
    
    .logged-in-logo {
        max-width: 60%;
    }
    
    .logged-in-logo img {
        margin-left: 10px;
    }
    
    .logged-in-links {
        display: none;
    }
    
    .logged-in-links {
        font-size: 16px;
    }

    #logged-mobile-menu-icon {
        margin-right: 15px;
        display: block;
        cursor: pointer;
    }
    
    #logged-mobile-menu-icon i {
        font-size: 36px;
        margin-top: -10px;
    }
}

/* Mobile Styling */
@media only screen and (max-width: 767px) {
    .bottom-header {
        display: none;
    }

    .top-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        padding-top: 10px;
        position: relative;
    }

    .mobile-logo {
        flex: 1;
        max-width: 60%;
    }

    .mobile-logo img {
        width: 100%;
        max-width: 200px;
        height: auto;
        display: block;
        margin-left: 10px;
    }

    #mobile-menu-icon {
        margin-left: auto;
        margin-right: 15px;
        display: block;
        color: #ffffff;
        cursor: pointer;
    }
    
    #mobile-menu-icon i {
        font-size: 36px;
        margin-top: -10px;
    }

    .mobile-nav {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #DA222B;
        z-index: 1;
        text-align: right;
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .mobile-nav ul {
        align-items: end;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mobile-nav li {
        color: white;
        display: flex;
        align-items: right;
        margin-right: 15px;
    }

    .mobile-nav i {
        font-size: 1em;
    }

    .mobile-nav a {
        text-decoration: none;
        color: white;
        display: block;
        margin-bottom: 10px;
    }
    
    .mobile-nav a:hover {
        color: #3368b8;
    }

    .mobile-icon-nav a:hover {
        color: #3368b8;
    }

    .mobile-icon-nav label {
        color: white;
        display: block;
        margin-bottom: 10px;
    }

    .mobile-links {
        flex-direction: column;
    }

    .mobile-links a {
        margin-right: 15px;
        margin-bottom: 24px;
        margin-top: 14px;
    }

    .mobile-icon-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .mobile-icon-nav li {
        color: white;
    }
    
    .mobile-icon-nav i {
        position: relative;
        top: 10%;
        font-size: 2em;
        margin-right: 0.5em;
    }

    .mobile-header-login-button {
        background-color: #3368B8;
        color: #fff !important;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 50%;
        margin: 20px auto !important;
        padding: 0 10px;
    }

    .mobile-header-login-button label {
        text-align: center;
        display: block;
        padding: 10px 0px;
        cursor: pointer;
    }
    
    .mobile-header-login-button label a:hover {
        color: #fff;
    }
}
