/* Header Styling */
.site-header {
    background-color: #DA222B;
    color: #ffffff;
}

/* Top Header */
.top-header {   
    background-color: #ffffff;
    padding: 10px 3em 10px 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.top-header a {
    color: #3368B8;
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid #3368B8;
}

.top-header a:hover {
    text-decoration: none;
}

.top-header-nav {
    max-width: 85%;
}

#about-us-link {
    padding-right: 20px;
}

#contact-us-link {
    padding-left: 20px;
    padding-right: 20px;
}

#search-link {
    padding-left: 20px;
    border: none; 
    border-right: none;
}

.login-header-button {
    background-color: #3368B8;
    color: #fff !important;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Red Header */
.secondary-navigation {
    flex: 2;
    max-width: 80%;
    text-align: right;
}

.secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.secondary-navigation li {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.secondary-navigation i {
    font-size: 2em;
    margin-right: 0.5em;
}

.secondary-navigation a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.secondary-navigation a:hover {
    color: #3368b8 !important;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2em 20px 5em;
}

.logo {
    flex: 1;
    max-width: 20%;
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}