.info-card {
    border: 1px solid #EAEDF5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    padding: 12px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.info-card-border {
    border: 1px solid #EAEDF5;
    border-radius: 2px;
    overflow: hidden;
    padding: 10px;
}

.info-card-header {
    color: #3368b8;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.info-card-subheader {
    color: #3368b8;
    font-size: 20px;
    margin-bottom: 0;
}
.blue-square-bullets {
	list-style-type: none;
	padding-left: 1em;
}

.blue-square-bullets li {
	color: black;
	position: relative;
	padding-left: 1.5em;
	padding-bottom: 0.5em;
}
.blue-square-bullets li::before {
	content: "■";
	color: #3368b8;
	position: absolute;
	left: 0;
	top: -2px;
}

.vertical-spacer {
	height: 0.5em;
}

.top {
    margin-top: 0;
}

.info-card-header img {
    max-width: 60px;
    height: auto;
    margin-right: 1em;
}

.info-card h2 {
    margin: 0;
}

.info-card-content {
    display: flex;
    align-items: stretch;
}

.info-card-column {
    flex: 1;
    padding: 20px;
}

.info-card-left {
    border-right: 1px solid #EAEDF5;
}

.info-card-right {
    padding-left: 20px;
}

.find-out-button {
    background-color: #da222b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.start-application-button {
	background-color: #3368b8;
	color: #fff;
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

/* 75/25 info card styling */
.info-card.info-card-75-25 {
    width: 50%;
}

.info-card-column.info-card-left-75 {
    border-right: 1px solid #EAEDF5;
}

.info-card-column.info-card-right-25 {
    padding-left: 20px;
    flex: 0 0 25%;
}

.info-card-column.info-card-right-25 ul {
    list-style-type: disc;
    padding-left: 20px;
}

.info-card-column.info-card-right-25 li {
    margin-bottom: 0;
}

/* Responsive Styling for info card */
@media (min-width: 1000px) and (max-width: 1367px) {
    .info-card {
        width: 70%;
    }
    .info-card.info-card-75-25 {
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .info-card {
        width: 75%;
    }
    .info-card.info-card-75-25 {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .info-card {
        width: 85%;
    }
    .info-card.info-card-75-25 {
        width: 85%;
    }
}
