.card-spacer {
    margin: 1.5em auto;
}

.two-column-info-placard {
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    position: relative;
}

.image-column {
    flex: 1;
    text-align: center;
    margin-right: 5em;
}

.image-column img {
    max-width: 450px;
    height: auto;
    margin-right: 0;
}

.vertical-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.vertical-divider::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 435px;
    background-color: #06435E;
    left: 50%;
    transform: translateX(-49%);
    z-index: 0;
}

.info-column {
    flex: 1;
    width: calc(500px - 5%);
}

.info-column ul {
    list-style: none;
    padding: 0;
}

.info-column ul li {
    margin-bottom: 20px;
    padding-left: 1em;
    position: relative;
    line-height: 1.5;
}

.info-column ul li::before {
    content: '\2022';
    position: absolute;
    left: -0.43em;
    transform: translateY(-48%);
    font-size: 10em;
    color: #06435E;
}

.info-column h2 {
    margin-bottom: 10px;
}

.info-column p {
    margin: 0;
}

/* Responsive Styling */
@media (min-width: 1921px) {
    .two-column-info-placard {
        width: 1300px;
        height: 600px;
    }
}
@media (min-width: 800px) and (max-width: 1367px) {
    .two-column-info-placard {
        width: 850px;
        height: 650px;
    }

    .vertical-divider::before {
        height: 570px;
    }
    
    .image-column {
        max-width: calc(425px + 5%);
    }
    
    .image-column img {
        max-width: 360px;
        height: auto;
    }
    
    .info-column {
        max-width: calc(425px - 5%);
    }
    
    .info-column ul li {
        padding-left: 0.5em;
    }

    .info-column ul li::before {
        left: -0.445em;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .two-column-info-placard {
        width: 600px;
        height: 700px;
    }

    .vertical-divider::before {
        height: 660px;
    }
    
    .image-column {
        max-width: calc(300px + 5%);
    }

    .image-column img {
        max-width: 270px;
        height: auto;
        margin: auto;
    }
    
    .info-column {
    }
    
    .info-column ul li {
        padding-left: 0.5em;
    }
    
    .info-column ul li::before {
        left: -0.3675em;
    }
}

@media (max-width: 500px) {
    .two-column-info-placard {
        width: 400px;
        height: 1025px;
        margin-left: 0;
    }

    .vertical-divider::before {
        height: 1000px;
    }
    
    .image-column {
        margin-right: 0;
    }

    .image-column img {
        max-width: 190px;
        height: auto;
        margin: -3em auto 3em auto;
    }
    
    .info-column {
        
    }
    
    .info-column ul li {
        padding-left: 2em;
    }
    
    .info-column ul li::before {
        left: -0.185em;
    }

}
