.login-form {
    background-color: #fff;
    padding: 20px 0px 0 0px;
    border: 1px solid #EAEDF5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 30%;
    margin: 7% auto;
}

.form-header {
    font-size: 32px;
    color: #3368B8;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.form-description {
    font-size: 16px;
    width: 35%;
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.login-inputs {
    margin-left: 17.5%;
}

.form-row {
    margin-bottom: 1.5em;
}

.form-row label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.form-row input {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.forgot-password {
    font-size: 14px;
    margin-top: 5px;
    color: #3368B8;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2.5em;
}

.recaptcha-text {
    width: 60%;
    color: #000 ;
    font-size: 14px;
    margin: 2.5em auto;
    text-align: center;
}

.sign-in-btn {
    background-color: #3368B8;
    color: #fff;
    padding: 25px 15px;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}


/* Responsive Styling */
@media (min-width: 1367px) and (max-width: 1920px) {
    .login-form {
        width: 35%;
    }
    
    .form-description {
        width: 60%;
    }
    
}
@media (min-width: 1000px) and (max-width: 1367px) {
    .login-form {
        width: 50%;
    }
    
    .form-description {
        width: 60%;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .login-form {
        width: 70%;
    }
    
    c
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
    
    .form-description {
        width: 60%;
    }
}
